config:
  db_path: gitpoll.s3db
jobs:
  openstack_kilo:
    repos:
      - remote_url: https://github.com/openstack/nova
        branch: stable/kilo
      - remote_url: https://github.com/openstack/neutron
        branch: stable/kilo
    action_url: http://myjenkins:8080/job/myjob/build?token=BigSecret

